config.h
.DS_Store
*.pyc
*.o
*~
\.*.swp
*.patch
*.diff
*build-gui-Desktop_Qt*
build*
Debug
Release
CMakeFiles
ext/libressl-*
Makefile*
src/gui/gui.pro.user*
src/gui/.qmake.stash
src/setup/win32/synergy.suo
.cproject
.project
cmake_install.cmake
