config.h
.DS_Store
*.pyc
*.o
*~
*.qm
\.*.swp
*.patch
*build-gui-Desktop_Qt*
build*
Debug
Release
CMakeFiles
/ext/libressl-2.4.4/
Makefile*
src/gui/gui.pro.user*
src/gui/.qmake.stash
src/setup/win32/synergy.suo
.cproject
.project
cmake_install.cmake
newhm*
