[Desktop Entry]
Name=Synergy
Version=4.2.0
Comment=Share your keyboard and mouse over a network
Exec=synergygui
Icon=synergy
Terminal=false
Type=Application
Categories=Utility;
Keywords=keyboard;mouse;sharing;network;share;
